# StoryTime database Configuration
# 
#	THIS IS AN EXAMPLE!
# 	Copy to storytime.properties

host=
user=
password=
database=
port=

#logging:
# 1 = only critical
# 2 = crit and error
# 3 = verbose

loggingLevel=3